d = raw_input()
d2 = d.split(" ",2)
l = d2[0]
t = int(d2[1])
c = raw_input()
c2  = c.replace(" ",'')
for i in range (t):
    a = raw_input()
    a2 = a.split(" ",2)
    j = int(a2[0])
    k = int(a2[1]) 
    x = min(c2[j:k+1])
    print(x)
    t -= 1
